<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Job Board</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
	
    <div>
        <h1 class="text-4xl py-8 pl-8">
            <a href="{% url 'home' %}">
                Job_Board
            </a>
        </h1>
        <hr>
    </div>

    <div class="container mx-auto mb-8">
        {% block content %}
        {% endblock content %}
    </div>
  </body>
</html>